@page
@model AspApp.Pages.conditionsModel
@{


    <div class="text-center">

        <h1 class="display-4">Conditions</h1>
        <p>this is a page of conditions and counts of condition usage</p>
    </div>


}
