@page
@model AspApp.Pages.spellsModel
@{ 



    <div class="text-center">

                 <h1 class="display-4">spells page</h1>
                 <p>this is a page for spell search specifically</p>
    </div>

}
